* {box-sizing:border-box;}

html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container, .options-box, #map {
    height: 100%;
}

.options-box {
    float: left;
    padding-left: 20px;
    width: 15%;
    min-width: 250px;
    background-color: lightgrey;
}

.options-box button {
    padding: 5px;
}

.restaurant-info {
    font-size: 15px;
}

#pano {
    width: 450px;
    height: 350px;
}

ul {
    list-style-type: none;
    padding: 5px;
}

li {
    padding: 5px 0;
}